{% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/articles.css')}}"
/>
{% endblock %}
<!-- Content block -->
{% block content %}
    <div class="text-center heading w-75 mx-auto my-2">
      <h3>Latest News from {{source | upper}} </h3>
    </div>
    
    <section class="wrapper">
        <div class="container">
         <div class="row">{{ macro.displayArticlesList(articles)}}</div>
        </div>
    </section>      
{% endblock%}
