{% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}
<!-- Content block -->
{% block content %}
<div
  id="carouselExampleCaptions"
  class="carousel slide w-75 mx-auto my-2"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item overlay active">
      <img src="{{reuters[0].urlToImage}}" class="d-block img-responsive img-thumbnail w-100 " alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5><a id="cara5" href="{{reuters[0].url}}">{{reuters[0].title | truncate(70)}} </a> </h5>
        <p class="mt-2"> {{reuters[0].description}} </p>
      </div>
    </div> 
    <div class="carousel-item overlay">
      <img src="{{wallstreet[0].urlToImage}}" class="d-block image-responsive img-thumbnail w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5><a id="cara4" href="{{wallstreet[0].url}}">{{wallstreet[0].title | truncate(70)}} </a> </h5>
        <p class="mt-2">{{wallstreet[0].description}}</p>
      </div>
    </div>
    <div class="carousel-item overlay">
      <img src="{{espn[0].urlToImage}}" class="d-block image-responsive img-thumbnail w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5><a id="cara1" href="{{espn[0].url}}">{{espn[0].title | truncate(70)}} </a> </h5>
        <p class="mt-2">{{espn[0].description}}</p>
      </div>
    </div>
    <div class="carousel-item overlay">
        <img src="{{washington[0].urlToImage}}" class="d-block image-responsive img-thumbnail w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5><a id="cara2" href="{{washington[0].url}}">{{washington[0].title | truncate(70)}} </a> </h5>
          <p class="mt-2"> {{washington[0].description}} </p>
        </div>
      </div>
      <div class="carousel-item overlay">
        <img src="{{techradar[0].urlToImage}}" class="d-block image-responsive img-thumbnail w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5><a id="cara3" href="{{techradar[0].url}}">{{techradar[0].title | truncate(70)}} </a> </h5>
          <p class="mt-2"> {{techradar[0].description}} </p>
        </div>
      </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container w-75 mx-auto mt-3" id="sources">
  <!-- News Sources -->
  <div class="row mx-auto text-center">
    <div class="heading my-2">
      <h3>Your Reliable News Sources</h3>
    </div>
    
      {{ macro.displaySourceList(sources)}}
  </div>
</div>

{% endblock%}

