{% macro displaySourceList(source_list) %} {% for source in source_list %}
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 source-card">
  <li class="">
    <a href="/articles/{{ source.id }}" rel="noopener noreferrer"
      >{{source.name}}</a
    >
    {{source.description}}
  </li>
</div>
{% endfor %} {% endmacro %} {% macro displayArticlesList(article_list) %} {% for
article in article_list %}
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 source-card">
  <li class="">
    {% if article.urlToImage %}
    <div>
      <img
        src="{{article.urlToImage}}"
        alt=""
        srcset=""
        class="img-responsive thumbnail"
      />
    </div>
    {% endif %}
    <p>{{article.author}}</p>
    <p>{{article.title}}</p>
    <p>{{article.description}}</p>
    <a
      class="thumbnail"
      href="{{article.url}}"
      target="_blank"
      rel="noopener noreferrer"
      >Full Story</a
    >
    <p>{{article.publishedAt}}</p>
  </li>
</div>
{% endfor %} {% endmacro %}

<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div
          class="card text-white card-has-bg click-col"
          style="
            background-image: url({{article.urlToImage}});
          "
        >
          <img
            class="card-img d-none"
            src="https://source.unsplash.com/600x900/?tech,street"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2"> <a href="{{article.url}}"></a> {{article.title}}</small>
              <h4 class="card-title mt-0">
                <a class="text-white" href="{{article.url}}"
                  ><p>{{article.description}}</p></a
                >
              </h4>
              <small><i class="far fa-clock"></i>{{article.publishedAt}}</small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img
                  class="mr-3 rounded-circle"
                  src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                  alt="Generic placeholder image"
                  style="max-width: 50px"
                />
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">{{article.author}}</h6>
                  <small>Author</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>
