{% macro displaySourceList(source_list) %} {% for source in source_list %}
<div class="card col-xs-12 col-sm-4 col-md-3 col-lg-4 source-card mb-2 me-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{source.name}}</h5>
    <p class="card-text">{{source.description | truncate(100)}}.</p>
    <a href="/articles/{{ source.id }}" class="btn btn-outline-primary">Read Articles</a>
  </div>
</div>

{% endfor %} {% endmacro %} 

{% macro displayArticlesList(article_list) %} {% for
article in article_list %}

        <div class="col-sm-4 mb-2">
          <div
            class="card text-white card-has-bg click-col"
            style="
              background-image: url({{article.urlToImage}});
            "
          >
            <img
              class="card-img d-none"
              src="https://source.unsplash.com/600x900/?tech,street"
              alt="background-image"
            />
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2"> {{article.description | truncate(100)}} </small>
                <h4 class="card-title mt-0 mb-2">
                  <a class="text-white"
                    >{{article.title | truncate (80)}}</a
                  >
                </h4>
                <div class="center text-center">
                  <a href="{{article.url}}" type="button" class="btn btn-outline-primary mt-3"> Read Full Story</a>
                </div>
                <small><i class="fa fa-clock"></i>{{article.publishedAt | truncate (13)}}</small>
              </div>
              <div class="card-footer">
                <div class="media">
                  <img
                    class="mr-3 rounded-circle"
                    src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                    alt="Generic placeholder image"
                    style="max-width: 50px"
                  />
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Author</h6>
                    <small>{{article.author}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      
      
{% endfor %} {% endmacro %}


